<h1>Welcome to assignment 1</h1>

<h2><%= link_to 'Cities Endpoint', cities_path %></h2>
<h2><%= link_to 'State Endpoint', states_path %></h2>
<h2><a href="https://github.com/lcastrooliveira/capstone_init", target="_blank">Github</a></h2>
<h2><a href="https://lucascaps1.herokuapp.com">Staging URL</a></h2>
<h2><a href="https://lucascapsprod1.herokuapp.com">Production URL</a></h2>
<h3>* I only allowed GET calls in order to keep people from deleting all records</h3>
